%h2
  = t('common.shipping_and_payment')
  
%h4 Условия оплаты и доставки в пределах Украины
%p

Доставка осуществляется компаниями Новая Почта, Ночной Экспресс, АвтоЛюкс по согласованию с клиентом.

Доставка в любую точку Украины бесплатна при заказе от 500 грн.

Возможна доставка наложенным платежом при условии предоплаты в размере 10% от стоимости заказа (но не менее 30 грн).

Мы передаем товар курьерской службе в течение 48 часов с момента согласования заказа. Далее время доставки варьируется в зависимости от перевозчика и удаленности вашего населенного пункта.

Заказанный товар может быть доставлен вам в офис или на дом (оговаривается отдельно) или в выбранный офис службы доставки. Мы рекомендуем забирать товар 
в течение нескольких дней с момента прибытия в ваш город, чтобы избежать платежей за хранение.

С момента передачи товара службе доставки, ответственность за доставку и сохранность товара несет курьерская служба.
