UserNotifier#account_created

Hi #{@user.first_name}, we have created an account for you!

Your password is: #{@password}. You can reset or change your password by visiting our #{link_to 'store', root_url} .

Thank you!
