UserNotifier#registered

Hi #{@user.first_name}, thank you for registration!

Your password is: #{@user.password}. You can reset or change your password by visiting our #{link_to 'store', root_url} .

Thank you!
