// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#second-navbar {

}

#product-mainpart {
}

#tophead {
	height: 66px;
}

#search-form {
	margin-top: 15px;
}

#header-contacts {
	margin-top: 15px;
}

#product-images-list {
	margin-top: 25px;
}

ul.attributes-list {
  list-style: none;
}

ul.attributes-list li {
  margin-top: 5px;
  margin-bottom: 5px;
}

a.filter-link-active {
  font-weight: bold;
}