// Place all the styles related to the Admin::Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr.order-completed {
  color: #9c9c9c;
}

tr.order-canceled {
  color: #9c9c9c;
  text-decoration: line-through
}

#map-delivery {
  height: 300px;
}