.col-md-2{:id => "admin-image-#{image.id}"}
  = link_to image_tag( image.image.url(:medium)), image.image.url, target: '_blank', class: 'thumbnail'
  = link_to glyphicon('glyphicon-trash'), admin_image_path(image), method: :delete, remote: true, class: 'close'
