%nav#navbar.navbar.navbar-fixed-top.navbar-default{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => "#main-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only
          = t('common.toggle_menu')
          Toggle navigation
      = link_to t('common.store_name'), root_path, class: 'navbar-brand'
    #main-navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav
        - visible_pages.each do |page|
          %li{ class: current_page?(page_path(id: page.seo_url)) && 'active'}
            = link_to page.title, page_path(id: page.seo_url)
      %ul.nav.navbar-nav.navbar-right
        %li= render 'layouts/user_widget'
